<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jim.demo1" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/phonemug"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/ProfileButton"
            android:name=".profile_activity" >
        </activity>
        <activity
            android:label="@string/SearchButton"
            android:name=".search_activity" >
        </activity>
        <activity
            android:label="@string/PostButton"
            android:name=".post_activity" >
        </activity>
        <activity
            android:label="@string/MatchButton"
            android:name=".matches_activity" >
        </activity>
        <activity
            android:label="@string/profile_app_settings_button"
            android:name=".app_settings_activity" >
        </activity>
        <activity
            android:label="@string/contact_text"
            android:name=".contact_activity" >
        </activity>
    </application>

</manifest>
