<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jim.demo1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.jim.demo1.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.jim.demo1.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/phonemug"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".AppSettings.CreateUser"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppSettings.profile_activity"
            android:label="@string/ProfileButton" >
        </activity>
        <activity
            android:name=".Post.post_activity"
            android:label="@string/PostButton" >
        </activity>
        <activity
            android:name=".Matches.matches_activity"
            android:label="@string/MatchButton" >
        </activity>
        <activity
            android:name=".AppSettings.app_settings_activity"
            android:label="@string/profile_app_settings_button" >
        </activity>
        <activity
            android:name=".AppSettings.contact_activity"
            android:label="@string/contact_text" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_create_user" >
        </activity>
        <activity
            android:name=".Post.add_beer_activity"
            android:label="@string/AddBeer" >
        </activity>
        <activity
            android:name=".Inventory.Inventory"
            android:label="@string/Inventory" >
        </activity>
        <activity
            android:name=".Favorites.FavesPage"
            android:label="@string/FavesPage" >
        </activity>
        <activity
            android:name=".Favorites.Favorites"
            android:label="My Favorites" >
        </activity>
        <activity
            android:name=".Matches.matches_home_activity"
            android:label="Matches Home" >
        </activity>
        <activity
            android:name=".messaging.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="ibt.ortc.extensibility.GcmOrtcBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.jim.demo1" />
            </intent-filter>
        </receiver>

        <service android:name="service.MyService" />

        <receiver android:name="receiver.MyReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Matches.pending_activity"
            android:label="@string/title_activity_pending_activity" >
        </activity>
    </application>

</manifest>
